.App {
  text-align: center;
  background-color: #323232;
  color: #FFFFFF;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  height: 100%;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Move down content because we have a fixed navbar that is 50px tall */


/*

Timeless Template 

http://www.templatemo.com/tm-517-timeless

*/

.homepageTitles{
  padding-bottom: 30px;
}

.tm-site-logo {
  width: 40px;
  height: 40px;
  border: 7px solid white;
  transform: rotate(45deg);
  display: inline-block;
  vertical-align: middle;
}

.tm-site-title {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

.tm-site-header {
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 0;
}

#tm-video-loader {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.tm-video-container {
  position: relative;
  max-width: 1280px;
  max-height: 640px;
  overflow-y: hidden;
}

.tm-video-text {
  display: inline-block;
}

.tm-welcome-video {
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-color: black;
  background-size: cover;
  transition: 1s opacity;
}

.tm-video-text-overlay {
  position: absolute;
  left: 60%;
  bottom: 30px;
}

  .tm-video-text-overlay h1 {
      font-size: 3.4rem;
  }

.tm-welcome-text {
  margin-top: 65px;
  margin-bottom: 65px;
}

.tm-font-400 {
  font-weight: 400;
}

.tm-text-light-gray {
  color: #CDCDCD;
}

.tm-text-gray {
  color: #CCCCCC;
}

.tm-text-white {
  color: #FFFFFF;
}

a.tm-text-white:hover,
a.tm-text-white:focus {
  color: #FFFFFF;
}

.tm-text-green {
  color: #99CC66;
}

.tm-text-cyan {
  color: #33CCCC;
}

.tm-text-yellow {
  color: #FFFF66;
}

.tm-text-orange {
  color: #CC9966;
}

.tm-bg-dark {
  background-color: #262626;
}

.tm-bg-dark-light {
  background-color: #404040;
}

.hrElement {
  border-color: #999999;
  max-width: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image{
  width: 300px;
  height: 300px;
}

.projectImage{
  width: 200px;
  height: 200px;
}
.projectPageImage{
  width: 180px;
  height: 286px;
}

.projectEntryText{
  color: #333333;
}

.tm-video-iframe {
  height: auto;
}

.tm-timeline-item {
  margin-left: 70px;
}

.tm-timeline-item-inner {
  display: flex;
  align-items: center;
}

.tm-img-timeline {
  width: 160px;
  height: 160px;
  display: inline-block;
  vertical-align: middle;
}

.tm-timeline-connector {
  width: 55px;
  height: 3px;
  background-color: #404040;
}

.tm-timeline-connector-vertical {
  height: 60px;
  width: 3px;
  background-color: #404040;
  margin-left: 260px;
}

.tm-timeline-description {
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
  padding: 35px 40px;
  max-width: 712px;
}

.tm-section-mb {
  margin-bottom: 85px;
}

.tm-section-mt {
  margin-top: 85px;
}

.tm-contact-form {
  max-width: 500px;
}

.form-control {
  border-radius: 0;
  border-color: #666666;
  color: #CCC;
  background: transparent;
  padding: 12px 15px;
  overflow: auto;
}

  .form-control::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #666666;
      opacity: 1;
      /* Firefox */
  }

  .form-control:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #DDDDDD;
  }

  .form-control::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #DDDDDD;
  }




.tm-btn-send {
  border-radius: 0;
  font-size: 1.1rem;
  padding: 10px 40px;
  background: transparent;
  border: 1px solid #666666;
  color: #666666;
  text-align: center;

}

  .tm-btn-send:hover,
  .tm-btn-send:focus {
      background: #CCCCCC;
      color: #333333;
  }

.form-control:focus {
  background-color: transparent;
  border-color: #CCCCCC;
  color: #FFF;
  box-shadow: 0 0 0 0.2rem #cccccc14;
}

input,
textarea,
[contenteditable] {
  caret-color: #FFFFFF;
}

p {
  line-height: 1.9;
}

.Ownnavbar-default {
  border: none;
  -webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  background-color: #323232;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

  .Ownnavbar-default .navbar-brand {
      color: #212227;
      font-weight: none;
      font-size: 30px;
      line-height: 45px;
      padding: 5px 0 0 0px;
  }

  .Ownnavbar-default .navbar-nav .listItem {
      background-color: #333333;
  }

  .Ownnavbar-default .navbar-nav a {
      font-size: 17px;
      line-height: 45px;
      letter-spacing: 1px;
      display: inline-block;
      color: #fff;
      padding-top: 18px;
      background-color: #333333;
  }

      .Ownnavbar-default .navbar-nav li a:hover {
          color: #666666;
          background-color: #333333;
          text-decoration: underline;
      }

  .Ownnavbar-default .navbar-nav > .active > a,
  .Ownnavbar-default .navbar-nav > .active > a:hover,
  .Ownnavbar-default .navbar-nav > .active > a:focus {
      color: #666666;
      background-color: #333333;
      text-decoration: underline;
  }

  .Ownnavbar-default .navbar-toggle {
      border: none;
      padding-top: 10px;
      float: none;
  }

      .Ownnavbar-default .navbar-toggle .icon-bar {
          background: #666666;
      }


.imageTex{
  padding-top:10px;
}

.imageTexButton{
  padding-top:20px;
}

/* Project */
.projectEntry{
  text-align:center;
  padding:20px;
}
.projectEntryCard{
  padding-top: 20px;
  padding-bottom: 20px;;
}

/* Footer */
.footer{
  left:0;
  bottom:0;
  right:0;
  padding: 30px;
}
.footer-item{
  padding:10px;
}
/* END NAVIGATION */